.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.logo{
    width: 160px;
    height: 100px;
}

.header-nav{
    display: flex;
    flex-direction: row;
    margin-left: 200px;
}

.header-secondBlock{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 100px;
}
.secodnBlock-image{
    position: relative;
}
.gs-image{
    height: 600px;
}
.header-socondBlock-description{
    padding: 20px;
    margin-right: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.header-socondBlock-description-title{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 24px;
}

.header-socondBlock-description-info{
    position: relative;
}
.decription-info-btn{
    margin-bottom: 50px;
    font-size: 20px;
    width: 140px;
    height: 60px;
	background-color: rgb(251, 224, 72);
    border-radius: 5px;
    font-family: 'Josefin Sans', sans-serif;
    transition: 0.3s ease-in-out;
}
.decription-info-btn:hover{
    box-shadow: 1px 0px 10px 1px;
}